/* You can add global styles to this file, and also import other style files */

html {
  font-size: 23px;
  font-family: 'Open Sans';
  height: 100%;
  width: 100%;
}
body{
  margin: 0;
  height: 100%;
  width: 100%;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.toast {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: 300px;
  padding: 15px;
  border-radius: 5px;
  opacity: 1;
}
.toast:not(.showing):not(.show) {
  opacity: 1;
}
.toast .toast-body {
  padding: 5px;
}